.registerForm {
    padding: 1em;
}

.registerContainer{
    background-color: rgb(255, 255, 255);
    width: 430px;
    height: 580px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    border: 2px solid;
}